table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #f39c12; /* Color de fondo para las celdas de encabezado */
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  tr:hover {
    background-color: #f39c12; /* Color de fondo cuando se pasa el mouse por encima */
    color: white;
  }