.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .form-button {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #45a049;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-control {
    font-family: system-ui, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
  }
  
  
  .menu-container {
    max-width: 410px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    /* display: flex;
    flex-wrap: wrap; */
  }
  .menu-grid-row {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    /* display: flex;
    flex-wrap: wrap; */
  }
  
  .menu-item {
    display: flex;
    align-items: center;
  }
  
  .menu-item label {
    margin-left: 5px;
  }